$color-dark-blue: #011827;
$color-light-blue: #8ACFE5;
$color-medium-blue: #36769d;
$color-red: #E3170A;
$color-grey: #B6BDB5;
$color-white: #FFFFFF;
$color-lilac:rgb(132, 92, 241);
$color-light-grey: lightgray; 
$color-medium-grey: grey; 
$screen-medium: 1280px;